<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:switch expression="{data.layout}">
    <f:case value="0">
        <div id="c{data.uid}">
            <f:if condition="{gallery.position.noWrap} != 1">
                <f:render partial="Header" arguments="{_all}"/>
            </f:if>

            <div class="ce-textpic ce-{gallery.position.horizontal} ce-{gallery.position.vertical}{f:if(condition: gallery.position.noWrap, then: ' ce-nowrap')}">
                <f:if condition="{gallery.position.vertical} != 'below'">
                    <f:render partial="MediaGallery" arguments="{_all}"/>
                </f:if>

                <div class="ce-bodytext">
                    <f:if condition="{gallery.position.noWrap}">
                        <f:render partial="Header" arguments="{_all}"/>
                    </f:if>
                    <f:format.html>{data.bodytext}</f:format.html>
                </div>

                <f:if condition="{gallery.position.vertical} == 'below'">
                    <f:render partial="MediaGallery" arguments="{_all}"/>
                </f:if>
            </div>
            <f:render partial="Footer" arguments="{_all}"/>
        </div>
    </f:case>
   <!--Team Element -->
    <f:case value="1">
        <div class="thumbnail text-center">

            <f:render partial="MediaGallery" arguments="{gallery:'{gallery}', class:'img-responsive'}"/>
            <div class="caption">

                <f:if condition="{data.header}">
                    <h3>{data.header}<br>
                        <f:if condition="{data.rowDescription}">
                            <small>{data.rowDescription}</small>
                        </f:if>

                    </h3>
                </f:if>
                <p>{data.bodytext->f:format.raw()}</p>
                <ul class="list-inline">
                    <f:for each="{Textmedia}" as="social">
                        <li>
                            <v:link.typolink configuration="{parameter:'{social.link}'}">
                                <i class="fa fa-2x {social.class} {social.movement}"></i>
                            </v:link.typolink>
                        </li>
                    </f:for>
                </ul>
            </div>
        </div>
    </f:case>
    <!--Projekt Element -->
    <f:case value="2">
        <div class="img-portfolio">
            <f:if condition="{data.image_zoom}">
                <f:then>
                    <f:for each="{files}" as="image" iteration="ImageIterator">
                        <f:if condition="{ImageIterator.isFirst}">
                            <a href="{f:uri.image(src:'{image.uid}', treatIdAsReference:1)}"
                               data-title='{column.media.title}' data-lightbox="gallery-{data.uid}">
                                <f:media class="img-responsive img-hover"
                                         file="{image}"
                                         width="295"
                                         height="170"
                                        />
                            </a>
                        </f:if>
                    </f:for>

                </f:then>
                <f:else>
                    <f:for each="{files}" as="image" iteration="ImageIterator">
                        <f:if condition="{ImageIterator.isFirst}">
                            <v:link.typolink configuration="{parameter:'{data.header_link}'}">

                                <img src="{f:uri.image(src:'{image.uid}', treatIdAsReference:1, width:295, height:170)}"
                                     class="img-responsive {f:if(condition:'{data.header_link}',then:'img-hover')}"/>

                            </v:link.typolink>
                        </f:if>

                    </f:for>
                </f:else>
            </f:if>
            <h3>
                <v:link.typolink configuration="{parameter:'{data.header_link}'}">{data.header}</v:link.typolink>
            </h3>
            <p>{data.bodytext->f:format.raw()}</p>
        </div>
    </f:case>
    <!--Call-To-Action Element -->
    <f:case value="3">
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>{data.bodytext->f:format.raw()}</p>
                </div>
                <div class="col-md-4">
                    <v:link.typolink
                            configuration="{parameter:'{data.header_link}',class:'btn btn-lg btn-default btn-block'}">
                        {data.header}
                    </v:link.typolink>
                </div>
            </div>
        </div>
    </f:case>
    <!--Teaser Element-->
    <f:case value="4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw {data.tx_angelshop_class} {data.tx_angelshop_movement} "></i>{data.header}</h4>
            </div>
            <div class="panel-body">
                <f:if condition="{data.assets}">
                    <f:then>
                        <f:render partial="MediaGallery" arguments="{_all}" />
                    </f:then>
                    <f:else>
                        <p>{data.bodytext->f:format.html()}</p>
                        <v:link.typolink configuration="{parameter:'{data.header_link}', class:'btn btn-default'}">
                            {data.rowDescription->f:format.nl2br()}
                        </v:link.typolink>
                    </f:else>
                </f:if>

            </div>
        </div>
    </f:case>
</f:switch>
</html>
