# Created by .ignore support plugin (hsz.mobi)
.idea
/typo3
typo3_src
typo3conf/ext/extension_builder
typo3temp
fileadmin
index.php
uploads
/typo3conf/node_modules
typo3conf/node_modules
/node_modules
/fileadmin.tar.gz
