# Created by .ignore support plugin (hsz.mobi)
.idea
web/typo3
web/typo3_src
web/typo3conf/ext/extension_builder
web/typo3temp
web/fileadmin
web/index.php
web/uploads
.htaccess
web/typo3conf/node_modules
web/node_modules
web/fileadmin.tar.gz
web/typo3conf/LocalConfiguration.php
web/typo3conf/ext/angelshop/Classes/Service
web/typo3conf/l10n/*
web/typo3conf/ext/**
!web/typo3conf/ext/angelshop
vendor
web/typo3conf/AdditionalConfiguration.server.Production.Live.php
/vagrant
/shared

