# Created by .ignore support plugin (hsz.mobi)
.idea
public/typo3
public/typo3_src
public/typo3conf/ext/extension_builder
public/typo3temp
public/fileadmin
public/index.php
public/uploads
frontend/node_modules
.htaccess
public/typo3conf/node_modules
public/node_modules
public/fileadmin.tar.gz
public/typo3conf/LocalConfiguration.php
public/typo3conf/ext/angelshop/Classes/Service
public/typo3conf/l10n/*
public/typo3conf/ext/**
!packages/angelshop/Resources/Public/Backend
packages/angelshop/Resources/Public/
shared
vagrant
vendor/
public/typo3conf/AdditionalConfiguration.server.Production.Live.php
var/
/bin/
.env
