<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/News/SearchResult.html
-->

<f:section name="content">
	<div class="news-search-result">
		<f:if condition="{search.subject}">
			<f:then>
				<f:if condition="{news}">
					<f:then>
						<f:comment>
							<div class="count-msg">
								<f:translate key="search-text" arguments="{0:'{f:count(subject:news)}',1:search.subject}" />
							</div>
						</f:comment>
						<f:if condition="{settings.hidePagination}">
							<f:then>
								<f:for each="{news}" as="newsItem" iteration="iterator">
									<f:render section="newsIcon"
											  arguments="{_all}"/>
								</f:for>
							</f:then>
							<f:else>
								<n:widget.paginate objects="{news}" as="paginatedNews"
												   configuration="{settings.list.paginate}"
												   initial="{offset:settings.offset,limit:settings.limit}">
									<f:for each="{paginatedNews}" as="newsItem" iteration="iterator">
										<f:render section="newsIcon"
												  arguments="{_all}"/>
									</f:for>
								</n:widget.paginate>
							</f:else>
						</f:if>
					</f:then>
					<f:else>
						<div class="no-news-found">
							<f:translate key="search-noresult" />
						</div>
					</f:else>
				</f:if>
				</f:then>
				<f:else>
					<f:if condition="{news}">
						<f:then>
							<f:if condition="{settings.hidePagination}">
								<f:then>

									<f:for each="{news}" as="newsItem" iteration="iterator">
										<f:render section="newsIcon"
												  arguments="{_all}"/>
									</f:for>
								</f:then>
								<f:else>

									<n:widget.paginate objects="{news}" as="paginatedNews"
													   configuration="{settings.list.paginate}"
													   initial="{offset:settings.offset,limit:settings.limit}">
										<f:for each="{paginatedNews}" as="newsItem" iteration="iterator">
											<f:render section="newsIcon"
													  arguments="{_all}"/>
										</f:for>
									</n:widget.paginate>
								</f:else>
							</f:if>
						</f:then>

						<f:else>
							<div class="no-news-found">
								<f:translate key="search-noresult" />
							</div>
						</f:else>
					</f:if>
				</f:else>
		</f:if>
	</div>
</f:section>
</html>

<f:section name="newsIcon">
	<div class="row">
		<div class="col-md-1 text-center">
			<f:if condition="{newsItem.icon}">
				<f:then>
					<p><i class="fa {newsItem.icon} fa-4x"></i>
					</p>
				</f:then>
				<f:else>
					<p><i class="fa fa-camera fa-4x"></i>
					</p>
				</f:else>
			</f:if>
			<p>{newsItem.datetime -> f:format.date(format: '%B %d, %Y')}</p>
		</div>
		<div class="col-md-5">

			<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
				<f:alias map="{mediaElement: '{newsItem.falMedia.0}'}">

					<f:if condition="{mediaElement.originalResource.type} == 2">
						<f:image class="img-responsive img-hover" image="{mediaElement}"
								 title="{mediaElement.originalResource.title}"
								 alt="{mediaElement.originalResource.alternative}" width="600" height="300c"/>
					</f:if>
					<f:if condition="{mediaElement.originalResource.type} == 4">
						<f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement}"/>
					</f:if>
					<f:if condition="{mediaElement.originalResource.type} == 5">
						<f:image class="img-responsive img-hover" image="{mediaElement}"
								 title="{mediaElement.originalResource.title}"
								 alt="{mediaElement.originalResource.alternative}" width="600" height="300c"/>
					</f:if>
				</f:alias>
			</n:link>
		</div>
		<div class="col-md-6">
			<h3>
				<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
					{newsItem.title}
				</n:link>
			</h3>
			<f:if condition="{newsItem.author}">
				<p>von <a href="mailto:{newsItem.authorEmail}">{newsItem.author}</a>
				</p>
			</f:if>

			<f:format.html>{newsItem.bodytext->f:format.crop(maxCharacters:'200',respectWordBoundaries:'TRUE')}
			</f:format.html>
			<n:link class="btn btn-primary" newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
				Mehr lesen <i class="fa fa-angle-right"></i>
			</n:link>
		</div>
	</div>
	<hr/>
</f:section>