<!-- Navigation -->
<f:render partial="Page/Header" arguments="{_all}"/>
<!-- Page Content -->
<div class="container">
    <f:render partial="Page/Breadcrumb" arguments="{_all}" />

   <f:if condition="{files}">
        <div class="row">
            <div class="col-lg-12 file">
                <f:for each="{files}" as="image">
                    <img class="img-responsive" src="{f:uri.image(src:'{image.uid}', treatIdAsReference:1, width:1200, height:300c)}" alt="{image.name}">
                </f:for>

            </div>
        </div>
    </f:if>

     {columnMain ->f:format.raw()}
    <hr>
    <ul id="Social">
        <f:render partial="Social/Facebook/Share" arguments="{_all}" />
        <f:render partial="Social/Whatsapp/Share" arguments="{_all}" />
    </ul>
    <!--Footer -->
    <f:render partial="Page/Footer" arguments="{_all}"/>
</div>
