<!-- Navigation -->
<f:render partial="Page/Header" arguments="{_all}"/>
<!-- Page Content -->
<f:if condition="{files}">
    <f:render partial="Page/ImageHeader" arguments="{_all}"/>
</f:if>
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <f:format.raw><f:cObject typoscriptObjectPath="lib.newsHeader" /></f:format.raw>
            <f:cObject typoscriptObjectPath="lib.breadcrumb"/>
        </div>
    </div>
    <!-- Content Row -->
    <div class="row">
        <!-- Content Column -->
        <div class="col-md-9">
            {columnMain->f:format.raw()}
        </div>
        <!-- Sidebar  Column -->
        <div class="col-md-3">
            {columnSpecial->f:format.raw()}
            <f:format.raw><f:cObject typoscriptObjectPath="lib.newsList" /></f:format.raw>
        </div>
    </div>
    <ul id="Social">
        <f:render partial="Social/Facebook/Share" arguments="{_all}"/>
        <f:render partial="Social/Whatsapp/Share" arguments="{_all}"/>
    </ul>
</div>
<f:render partial="Page/Footer" arguments="{_all}"/>

