<!-- Navigation -->
<f:render partial="Opengraph" arguments="{_all}" />
<f:render partial="Page/Header" arguments="{_all}"/>
<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <f:render partial="Page/Breadcrumb" arguments="{_all}"/>
    <!-- /.row -->
    <!-- Portfolio Item Row -->
    <div class="row">
        <f:if condition="{columnSpecial}">
            <div class="col-md-12">
                {columnMain->f:format.raw()}
            </div>
        </f:if>
    </div>
    <!-- /.row -->
    {columnBottom->f:format.raw()}
    <hr>
    <ul id="Social">
        <f:render partial="Social/Facebook/Share" arguments="{_all}"/>
        <f:render partial="Social/Whatsapp/Share" arguments="{_all}"/>
    </ul>
    <!-- Footer -->
    <f:render partial="Page/Footer" arguments="{_all}"/>
</div>
