<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div itemscope itemtype="http://schema.org/Product" class="row">
    <div id="c{data.uid}" class="col-md-8">
        <div itemprop="name" class="hidden">{data.header}</div>
        <div id="Carousel-{data.uid}" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <f:if condition="{files}">
                <f:if condition="{files->f:count()}>1">
                    <ol class="carousel-indicators">
                        <f:for each="{files}" as="image" iteration="imageIteration">
                            <f:if condition="{imageIteration.isFirst}">
                                <f:then>
                                    <li data-target="#Carousel-{data.uid}" data-slide-to="{imageIteration.index}"
                                        class="active"></li>
                                </f:then>
                                <f:else>
                                    <li data-target="#Carousel-{data.uid}" data-slide-to="{imageIteration.index}"></li>
                                </f:else>
                            </f:if>

                        </f:for>
                    </ol>
                </f:if>
                <f:if condition="{files->f:count()}>1">
                    <f:then>
                        <div class="carousel-inner">
                            <f:for each="{files}" as="image" iteration="imageIteration">
                                <div class="{f:if(condition:'{imageIteration.isFirst}',then:'item active',else:'item')}">
                                    <img itemprop="image" class=" img-responsive"
                                         src="{f:uri.image(src:'{image.originalFile.publicUrl}',maxWidth:'750',maxHeight:'500c')}"
                                         alt="{image.reference.alternative}"/>

                                    <div class="carousel-caption">
                                        {image.reference.title}
                                    </div>
                                </div>
                            </f:for>
                        </div>
                    </f:then>
                    <f:else>
                        <div class="">
                            <f:for each="{files}" as="image" iteration="imageIteration">
                                <div>
                                    <img itemprop="image"
                                         src="{f:uri.image(src:'{image.originalFile.publicUrl}',maxWidth:'750',maxHeight:'500c')}"
                                         alt="{image.reference.alternative}"/>

                                    <div class="carousel-caption">
                                        {image.reference.title}
                                    </div>
                                </div>
                            </f:for>
                        </div>
                    </f:else>
                </f:if>
                <!-- Controls -->
                <f:for each="{files}" as="image" iteration="imageIteration">
                    <f:if condition="{imageIteration.cycle}>1">
                        <a class="left carousel-control" href="#Carousel-{data.uid}" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#Carousel-{data.uid}" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </f:if>
                </f:for>
            </f:if>
        </div>
    </div>
    <div class="col-md-4">

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="panel panel-primary">
            <div class="panel-heading">
                <h3 id="Product-title" class="panel-title" itemprop="name" data-uid="{data.uid}">{data.header}</h3>
            </div>
            <div class="panel-body  text-center">
                <meta itemprop="priceCurrency" content="EUR"/>
            <span class="price"><div itemprop="price"
                                     content="{data.tx_abatemplate_product_price-> f:format.currency(thousandsSeparator: ',')}">
                {data.tx_abatemplate_product_price-> f:format.currency(thousandsSeparator: ',', currencySign: '€')}<br/>
            </div></span>
            </div>
            <ul class="list-group">
                <f:if condition="{data.tx_abatemplate_product_manufacturer_name}">
                    <li class="list-group-item">
                        <h3>Hersteller</h3>
            <span itemprop="description">
            {data.tx_abatemplate_product_manufacturer_name->f:format.html()}<br/>
            </span>
                    </li>
                </f:if>
                <f:if condition="{data.bodytext}">
                    <li class="list-group-item  text-center">
                        <h3>Produkt Details</h3>
            <span itemprop="description">
            {data.bodytext->f:format.html()}<br/>
            </span>
                    </li>
                </f:if>
                <f:if condition="{data.tx_abatemplate_product_additional_description}">
                    <li class="list-group-item">
                        <h3>Zusätzliche Informationen</h3>
                        {data.tx_abatemplate_product_additional_description->f:format.html()}<br/>
                    </li>
                </f:if>

                <li class="list-group-item">
                    <f:link.page pageUid="12" class="btn btn-success" additionalParams="{order:'{data.header}'}"
                                 noCacheHash="1">
                        Interesse am Produkt &raquo;
                    </f:link.page>
                </li>
                <li class="list-group-item">
                    <button class="btn btn-default" onclick=" window.history.back()">&laquo; Zurück</button>
                </li>
            </ul>
        </div>
    </div>

</div>
