<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3\Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:render partial="Header/OnlyHeader" arguments="{
				header: data.header,
				layout: data.header_layout}"/>
<f:form pageUid="{data.header_link}" method="post">
    <div class="input-group">
        <input type="text" name="email" class="form-control" placeholder="Email"/>
      <span class="input-group-btn">
          <button class="btn btn-default" type="submit">anfragen</button>
      </span>
    </div>
</f:form>
</html>
